@charset "UTF-8";
@media (min-width: 320px) {
  html {
    font-size: 21.33px;
  }
}
@media (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media (min-width: 400px) {
  html {
    font-size: 26.67px;
  }
}
@media (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media (min-width: 424px) {
  html {
    font-size: 28.27px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media (min-width: 581px) {
  html {
    font-size: 38.73px;
  }
}
@media (min-width: 620px) {
  html {
    font-size: 41.33px;
  }
}
@media (min-width: 660px) {
  html {
    font-size: 44px;
  }
}
@media (min-width: 690px) {
  html {
    font-size: 46px;
  }
}
@media (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
input,
button {
  outline: none;
}
textarea {
  outline: none;
  resize: none;
}
a {
  text-decoration: none;
  color: #33383D;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}
a:link,
a:active,
a:visited,
a:focus {
  outline: none;
}
a:hover {
  background: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  color: #4E4E4F;
  overflow: scroll;
  background: #FFFFFF;
}
.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
input {
  -webkit-appearance: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #B4B4B5;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #B4B4B5;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #B4B4B5;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #B4B4B5;
}
.container {
  margin: 0 auto;
  max-width: 750px;
  width: 100%;
  box-sizing: border-box;
}
.foot {
  width: 100%;
  height: 2rem;
  position: fixed;
  bottom: 0;
  display: flex;
  background-color: white;
  box-shadow: 0 -3px 14px 0 rgba(56, 93, 142, 0.12);
}
.foot a {
  flex: 1;
  text-align: center;
  font-size: 0.48rem;
  color: #92A3AD;
}
.foot a .icon {
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 50%;
  margin-top: 0.3rem;
  transform: translateX(-50%);
}
.foot a .icon-one {
  background: url("../images/bottom.png");
  background-size: 0.8rem 0.8rem;
}
.foot a .icon-two {
  background: url("../images/bottomcopy1.png");
  background-size: 0.8rem 0.8rem;
}
.foot a .icon-three {
  background: url("../images/bottomcopy12.png");
  background-size: 0.8rem 0.8rem;
}
.foot a .icon-five {
  background: url("../images/bottomcopy13.png");
  background-size: 0.8rem 0.8rem;
}
.add-head {
  width: 100%;
  height: 7.08rem;
  background: linear-gradient(to right, #88B2DE, #A8D9EA);
  padding-top: 0.6rem;
  padding-left: 0.5rem;
  box-sizing: border-box;
}
.add-head img {
  width: 0.56rem;
  height: 0.76rem;
  float: left;
  vertical-align: middle;
}
.add-head h3 {
  font-size: 0.64rem;
  float: left;
  font-weight: 500;
  color: white;
  margin-left: 47%;
  transform: translateX(-50%);
}
.add-head .add {
  margin-left: 50%;
  margin-top: 1.6rem;
  width: 4rem;
  height: 4rem;
  border: 1px solid white;
  border-radius: 50%;
  transform: translateX(-50%);
  position: relative;
}
.add-head .add #filed {
  position: absolute;
  right: 0;
  width: 4rem;
  height: 4rem;
  opacity: 0;
}
.add-head .add img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2rem;
  height: 1.6rem;
  transform: translateX(-50%) translateY(-50%);
}
.add-head .add .upload {
  width: 4.06rem;
  height: 4.04rem;
  border-radius: 50%;
}
.add-head .add .symbol {
  color: white;
  position: absolute;
  right: 0.36rem;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: 1px solid white;
  box-sizing: border-box;
  text-align: center;
  line-height: 0.7rem;
  font-size: 0.6rem;
  z-index: 999;
  background-color: #88B2DE;
}
.basic-info {
  padding: 0 0.6rem;
  box-sizing: border-box;
  color: #B4B4B5;
  padding-top: 0.6rem;
  position: relative;
  font-size: 0.56rem;
}
.basic-info > span {
  position: absolute;
  width: 4.8rem;
  height: 1.6rem;
  font-size: 0.56rem;
  line-height: 1.6rem;
  text-align: right;
  right: 0.8rem;
}
.basic-info .name-info {
  top: 0.6rem;
  left: 46%;
  width: 0.4rem;
}
.basic-info .phone-info {
  top: 4.6rem;
  right: 0.2rem;
}
.basic-info .id-verify {
  top: 2.6rem;
}
.basic-info .photo-verify {
  top: 4.6rem;
}
.basic-info input {
  height: 1.6rem !important;
  border: 1px solid #E8E8E8 !important;
  font-size: 0.56rem !important;
  border-radius: 0.3rem !important;
  margin-bottom: 0.4rem !important;
  float: left !important;
  width: 100% !important;
  box-sizing: border-box !important;
  padding: 0.4rem !important;
}
.basic-info .name,
.basic-info .relation {
  width: 46% !important;
}
.basic-info .relation {
  margin-left: 7%;
}
.basic-info .verify {
  width: 46%;
  position: relative;
  float: left;
}
.basic-info .verify .button {
  position: absolute;
  width: 3.04rem;
  height: 1.44rem;
  background-color: #BCC9D0;
  right: 0.14rem;
  top: 0.1rem;
  border-radius: 0.3rem;
  text-align: center;
  color: white;
  line-height: 1.4rem;
}
.basic-info .sex {
  box-sizing: border-box;
  padding-left: 0.4rem;
  width: 45%;
  margin-left: 7%;
  height: 1.6rem;
  line-height: 1.6rem;
  border: 0.04rem solid #E8E8E8;
  border-radius: 0.3rem;
  margin-bottom: 0.4rem;
  float: right;
  color: #B4B4B5;
  position: relative;
}
.basic-info .sex .option {
  position: absolute;
  left: 0;
  background: white;
  width: 100%;
  padding-left: 0.4rem;
  box-sizing: border-box;
  border: 1px solid #A3D2E8;
  border-radius: 0.3rem;
  display: none;
  z-index: 99;
}
.basic-info .sex .iconfont {
  position: absolute;
  right: 0.4rem;
}
.basic-info .relation {
  box-sizing: border-box;
  padding-left: 0.4rem;
  width: 45%;
  margin-left: 7%;
  height: 1.6rem;
  line-height: 1.6rem;
  border: 0.04rem solid #E8E8E8;
  border-radius: 0.3rem;
  margin-bottom: 0.4rem;
  float: right;
  color: #B4B4B5;
  position: relative;
}
.basic-info .relation .option {
  position: absolute;
  left: 0;
  background: white;
  width: 100%;
  padding-left: 0.4rem;
  box-sizing: border-box;
  border: 1px solid #A3D2E8;
  border-radius: 0.3rem;
  display: none;
  z-index: 99;
}
.basic-info .relation .iconfont {
  position: absolute;
  right: 0.4rem;
}
.basic-info .address {
  height: 4rem;
  border: 0.04rem solid #E8E8E8;
  border-radius: 0.3rem;
  margin-bottom: 0.4rem;
  float: left;
  width: 100%;
  box-sizing: border-box;
  font-size: 0.56rem;
  padding: 0.4rem;
}
.info-amend {
  box-sizing: border-box;
  background: linear-gradient(to right, #88B2DE, #A8D9EA);
  width: 11rem;
  height: 1.6rem;
  margin: 0.4rem auto;
  color: white;
  font-size: 0.56rem;
  text-align: center;
  line-height: 1.6rem;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
.modal .add {
  display: none;
}
.modal .error {
  display: none;
}
.modal .hint {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%) translateY(-50%);
  width: 10.16rem;
  height: 7.6rem;
  background-color: white;
  border-radius: 0.2rem;
  padding-top: 0.6rem;
  padding: 0.4rem;
  box-sizing: border-box;
  color: black;
}
.modal .hint .hint-top {
  height: 1.4rem;
  border-bottom: 0.02rem solid #eee;
  line-height: 1.4rem;
}
.modal .hint .hint-top h5 {
  font-weight: 500;
  float: left;
  font-size: 0.72rem;
}
.modal .hint .hint-top img {
  margin-top: 0.2rem;
  width: 0.72rem;
  height: 0.72rem;
  float: right;
}
.modal .hint .hint-main {
  font-size: 0.64rem;
  text-align: center;
  line-height: 3rem;
}
.modal .hint button {
  width: 4.54rem;
  height: 1.22rem;
  border-radius: 0.4rem;
  background: white;
  border: 1px solid #88B2DE;
  line-height: 1.22rem;
  color: #88B2DE;
  margin-left: 2.2rem;
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
.modal .add {
  display: none;
}
.modal .error {
  display: none;
}
.modal .hint {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%) translateY(-50%);
  width: 10.16rem;
  height: 7.6rem;
  background-color: white;
  border-radius: 0.2rem;
  padding-top: 0.6rem;
  padding: 0.4rem;
  box-sizing: border-box;
  color: black;
}
.modal .hint .hint-top {
  height: 1.4rem;
  border-bottom: 0.02rem solid #eee;
  line-height: 1.4rem;
}
.modal .hint .hint-top h5 {
  font-weight: 500;
  float: left;
  font-size: 0.72rem;
}
.modal .hint .hint-top img {
  margin-top: 0.2rem;
  width: 0.72rem;
  height: 0.72rem;
  float: right;
}
.modal .hint .hint-main {
  font-size: 0.64rem;
  text-align: center;
  line-height: 3rem;
}
.modal .hint button {
  width: 4.54rem;
  height: 1.22rem;
  border-radius: 0.4rem;
  background: white;
  border: 1px solid #88B2DE;
  line-height: 1.22rem;
  color: #88B2DE;
  margin-left: 2.2rem;
}
/*# sourceMappingURL=add-receiptor.css.map */