<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width,user-scalable=no" />
    <link rel="stylesheet" href="css/all-day.css">
    <link rel="stylesheet" href="../lib/swiper/swiper.min.css">
    <link rel="stylesheet" href="../lib/icon/iconfont.css">
    <script src="../lib/jquery/jquery-3.1.1.min.js"></script>
    <script src="../lib/swiper/swiper.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="js/all-day.js"></script>
    <title>全天陪护</title>
</head>
<body>
<div class="container">
    <!--头部-->
    <div class="all-head banner-container swiper-container">
        <ul class="swiper-wrapper">
            <li class="banner-slide swiper-slide"><a href="#"><img src="../images/all1.png" alt=""></a></li>
            <li class="banner-slide swiper-slide"><a href="#"><img src="../images/all1.png" alt=""></a></li>
            <li class="banner-slide swiper-slide"><a href="#"><img src="../images/all1.png" alt=""></a></li>
        </ul>
        <div class="swiper-pagination"></div>
        <a href="javascript:history.back(-1);" class="history"><span class="iconfont icon-iconfontjiantou1"></span></a>
    </div>
    <!--优享护工-->
    <div class="clauses clearfloat">
            <!--渲染-->
    </div>
    <!--历史评价-->
    <div class="count-evaluate">
       <!--渲染-->
    </div>
    <!--评价-->
    <div class="evaluate">
        <!--渲染-->
    </div>
    <!--tab栏-->
    <div class="all-tab">
        <div class="active">产品介绍</div>
        <div><a href="javascript:;" style="color:#7D919D">服务详情</a></div>
        <div><a href="javascript:;" style="color:#7D919D">费用说明</a></div>
        <div><a href="javascript:;" style="color:#7D919D">预定须知</a></div>
    </div>
    <!--主要部分-->
    <div class="all-main">
        <!--24小时-->
        <div class="whole-journey">
            <h2>24H专人全程</h2>
            <p><span>骨科看护</span>护理服务</p>
            <img src="../images/all2.png" alt="">
        </div>
        <!--突破-->
        <img src="../images/tupo.png" alt="" class="break">
        <!--压力大-->
        <div class="pressure">
            <img src="../images/all3.png" alt="">
            <!--<p>生活节奏越来越快</p>-->
            <!--<p>工作压力越来越大</p>-->
            <!--<p>时间成本越来越高</p>-->
            <!--<p>城市老龄化越来越严重</p>-->
        </div>
        <!--帮您解决-->
        <div class="solve">
            <img src="../images/tubiao.png" alt="">
            <h2>益护，帮您解决</h2>
            <h3>住院护理及家庭护理</h3>
            <p>给你留下更多时间、更多空问、更多精力去迎接更好的未来让生活回归健康如今,益护健康,是百万用户的选择!赢的不是口号,是优质的产品和服务
            </p>
        </div>
        <!--制度与条例-->
        <div class="system">
            <!--员工庸拥制-->
            <div class="system-item">
                <div class="item-title"><span class="number">1 </span><span>员工雇佣制</span>
                </div>
                <h3>每一个都是优秀护理员</h3>
                <p>既然我们选择了全新的互联网陪护,就意味着我们必须拆弃传统护工的弊端告别中介,益护坚持与每一位护工正式签约,进行规范化管理与标准化培训</p>
                <img src="../images/one.png" alt="" class="one">
            </div>
            <!--服务内容明确-->
            <div class="system-item">
                <div class="item-title"><span class="number">2 </span><span>服务内容明确</span>
                </div>
                <h3>拒绝散漫偷懒</h3>
                <p>我们从服务内容上进行了全面的优化,经过反复测试,列出了每个时间点应做的服务,告别散漫,还您最高服务性价比!主动关怀,贴心至上</p>
                <img src="../images/two.png" alt="" class="two">
            </div>
        </div>
    </div>
    <!--服务详情-->
    <div class="server-details item">
        <div class="line"></div>
        <div class="date">早间护理</div>
        <div class="work">
            <span class="time">8：00</span>
            <span class="content">翻身</span>
            <div class="note">协助病人翻身，防止压疮发生。</div>
        </div>
        <div class="work">
            <span class="time">8：10</span>
            <span class="content">住院患者情况汇报</span>
        </div>
        <div class="work">
            <span class="time">8：30</span>
            <span class="content">排痰护理</span>
        </div>
        <div class="work">
            <span class="time">9：00</span>
            <span class="content">补液看护</span>
            <br>
            <img src="../images/huye.png" alt="">
        </div>
        <div class="work">
            <span class="time">11：00</span>
            <span class="content">饮食照料</span>
        </div>
        <div class="work">
            <span class="time">11：30</span>
            <span class="content">口服给药</span>
        </div>
        <div class="work">
            <span class="time">12：00</span>
            <span class="content">协助翻身、排痰</span>
        </div>
        <div class="work">
            <span class="time">13：30</span>
            <span class="content">协助如厕</span>
        </div>
        <div class="date">午间护理</div>
        <div class="work">
            <span class="time">14：00</span>
            <span class="content">协助翻身、排痰</span>
            <div class="note">如果病人需要，时间可以灵活安排。</div>
        </div>
        <div class="work">
            <span class="time">14：50</span>
            <span class="content">洗头(如果有需要)</span>
        </div>
        <div class="work">
            <span class="time">16：30</span>
            <span class="content">吃饭(打饭、喂饭、漱口、洗碗)</span>
        </div>
        <div class="date">夜间护理</div>
        <div class="work">
            <span class="time">21：30</span>
            <span class="content">日常清洁(洗脸、刷牙)</span>
        </div>
        <div class="work">
            <span class="time">0：00</span>
            <span class="content">夜间翻身、排痰(2小时一次)</span>
        </div>
        <div class="work">
            <span class="time">2：00</span>
            <span class="content">导管看护(2小时一次)</span>
        </div>
        <div class="work">
            <span class="time">5：30</span>
            <span class="content">日常清洁(洗脸，刷牙)</span>
        </div>
        <div class="work">
            <span class="time">6：25</span>
            <span class="content">整理床铺</span>
        </div>
    </div>
    <!--费用说明与预定须知-->
    <div class="cost">
        <h3>费用说明:</h3>
    </div>
    <div class="cost">
        <h3>预定须知:</h3>
    </div>

    <!--新标杆-->
    <div class="tagline">
        <h2>建立护理行业新标杆</h2>
        <p>We Redefine Patients'</p>
        <p>本平台由上海益护健康管理有限公司提供技术服务</p>
    </div>
    <!--立即预定-->
    <div class="reserve">
        <a class="server" href="javascript:; ">
            <span class="iconfont icon-kefuzhongxin"></span>
            <p>客服</p>
        </a>
        <div class="price">
            <span class="iconfont icon-iconfontzhizuobiaozhun44"></span>
            <p>评价</p>
        </div>
        <div class="immediately">
            <a href="javascript:;" style="color:#FFFFFF;">立即购买</a>
        </div>
    </div>
</div>
<script type="text/html" id="clauses">
      <h3>{{data.name}}</h3>
        <div class="clauses-left">￥<span>{{data.detail.salePrice}}</span><span class="day"> / 天</span></div>
        <div class="clauses-right">{{data.area}}</div>
</script>
<script type="text/html" id="evaluate">
    <div class="evaluate-item">
        <div class="item-title">
            <p class="title-left"><span>用户名：</span><span>{{data.lastOrder.customer.name}}</span></p>
            <p class="title-right">{{data.lastOrder.createTime}}</p>
        </div>
        <p>{{data.lastOrder.judgeInfo}}</p>
    </div>
</script>
<script type="text/html" id="history">
    <div class="count clearfloat">
        <p class="grade"><span class="history-count">历史评价&nbsp;&nbsp;</span><span>{{data.lastOrder.judgeLevel/2}}.0</span> 分</p>
        <div class="count-right">
            共<span>{{data.totalAssessNum}}</span>条<span class="iconfont icon-you"
                                     style="color: #b4b4b5"></span>
        </div>
        <div class="grade-bottom">
            <p class="hg-server star">护工服务:
                <% for(let i=0;i<data.nurseStarLevel/2;i++){ %>
                <span class="iconfont icon-xingxing"></span>
                <% }; %>
            </p>
            <p class="server-content star">服务内容:
                <% for(let i=0;i<data.serviceStarLevel/2;i++){ %>
                <span class="iconfont icon-xingxing"></span>
                <% }; %>
            </p>
        </div>
    </div>
</script>
<!--半自理-->
<script type="text/html" id="half">
    {{each data.details[1].services v i}}
    <div class="work">
        <span class="time">{{data.details[1].services[i].startTime}}</span>
        <span class="content">{{data.details[1].services[i].name}}</span>
    </div>
    {{/each}}
</script>
<script src="../lib/template-web.js"></script>
</body>
</html>